<div class="admin">
    <h1>メニューを削除しました</h1>
    <hr>
    <p>名前：<%= @menu.name %></p>
    <p>詳細：<%= @menu.detail %></p>
    <p>値段：<%= @menu.price %></p>
    <hr>
    <a href="/admin"><button type="button" class="btn btn-success">トップに戻る</button></a>
</div>