<div class="admin">
    <h1>メニューが変更されました</h1>
    <p>名前</p>
    <%= @menu.name %>
    <p>詳細</p>
    <%= @menu.detail %>
    <p>値段</p>
    <%= @menu.price %>
    <hr>
    <a href="/admin"><button type="button" class="btn btn-success">トップに戻る</button></a>
</div>