<section class="admin">
    <h2>管理画面</h2>
    <br>
    <ul class="admin-list">
        <a href="/inquiries"><button type="button" class="btn btn-info">お問い合わせ一覧</button></a>
        <br>
        <br>
        <br>
        <a href="/menus"><button type="button" class="btn btn-info">メニュー一覧</button></a>
        <br>
        <br>
        <a href="/menus/new"><button type="button" class="btn btn-success">メニュー登録</button></a>
        <br>
        <br>
        <br>
        <a href="/courses"><button type="button" class="btn btn-info">コース写真一覧</button></a>
        <br>
        <br>
        <a href="/courses/new"><button type="button" class="btn btn-success">コース写真登録</button></a>
        <br>
        <br>
        <br>
        <a href="/dinners"><button type="button" class="btn btn-info">ディナー写真一覧</button></a>
        <br>
        <br>
        <a href="/dinners/new"><button type="button" class="btn btn-success">ディナー写真登録</button></a>
        <br>
        <br>
        <br>
        <a href="/spaces"><button type="button" class="btn btn-info">スペース写真一覧</button></a>
        <br>
        <br>
        <a href="/spaces/new"><button type="button" class="btn btn-success">スペース写真登録</button></a>
    </ul>
</section>

