<div class="admin">
    <h1>スペース写真を削除しました</h1>
    <hr>
    <p>写真：<%= image_tag @space.image.url(:medium) %></p>
    <hr>
    <a href="/admin"><button type="button" class="btn btn-success">トップに戻る</button></a>
</div>