<div class="admin">
    <div class="border col-7">
        <br>
        <h1>スペース写真編集</h1>
        <br>
        <div class="row">
            <div class="col-md">
                <%= form_for @space do |f| %>
                    <form>
                        <div class="form-group">
                            <label>写真：<br><%= f.file_field :image, :class => "space_image"%></label>
                            <br>
                            <br>
                            <%= f.submit "登録", class: "btn btn-primary" %>
                        </div>
                    </form>
                <% end %>
                <a href="/spaces/<%= @space.id %>" data-method="delete"><button type="button" class="btn btn-danger">削除する</button></a>
                <br>
                <br>
                <a href="/admin"><button type="button" class="btn btn-success">トップに戻る</button></a>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
