<div class="admin">
    <h1>ディナー写真を削除しました</h1>
    <hr>
    <p>写真：<%= image_tag @dinner.image.url(:medium) %></p>
    <hr>
    <a href="/admin"><button type="button" class="btn btn-success">トップに戻る</button></a>
</div>