<div class="admin">
    <h1>ディナー写真一覧</h1>
    <hr>
    <% @dinners.each do |d| %>
      <a href="/dinners/<%= d.id %>/edit"><%= image_tag d.image.url(:thumb) %></a>
      <hr>
    <% end %>
    <a href="/admin"><button type="button" class="btn btn-success">トップに戻る</button></a>
</div>