<div class="admin">
    <h1>ディナー写真が変更されました</h1>
    <p>写真</p>
    <%= image_tag @dinner.image.url(:medium) %>
    <hr>
    <a href="/admin"><button type="button" class="btn btn-success">トップに戻る</button></a>
</div>