<div class="footer">
    <div class="footer-wrap">
        <div class="footer-logo">
            <h2><a href="/">Ristorante due mamme</a></h2>
        </div>
        <nav class="footer-nav">
            <ul class="footer-list">
                <li><a href="#1">HOME</a></li>
                <li><a href="#2">COURSE</a></li>
                <li><a href="#3">SPACE</a></li>
                <li><a href="#5">ACCESS</a></li>
                <li><a href="#4">CONTACT</a></li>
                <li><a href="https://www.facebook.com/" target="_blank">FACEBOOK</a></li>
                <li><a href="https://www.instagram.com/" target="_blank">INSTAGRAM</a></li>
            </ul>
        </nav>
    </div>
    <div class="footer-text">
        <p>〒861-1302 熊本県菊池市下河原191</p>
        <p>TEL 0968-41-9521</p>
    </div>
    <p class="copyright">
        © Ristorante due mamme
    </p>
</div>