<div class="footer">
    <div class="footer-wrap">
        <div class="footer-logo">
            <h2><a href="/">Ristorante</a></h2>
        </div>
        <nav class="footer-nav">
            <ul class="footer-list">
                <li><a href="#1">HOME</a></li>
                <li><a href="#2">COURSE</a></li>
                <li><a href="#3">DINNER</a></li>
                <li><a href="#4">SPACE</a></li>
                <li><a href="#5">ACCESS</a></li>
                <li><a href="#6">CONTACT</a></li>
                <li><a href="https://www.facebook.com/" target="_blank">FACEBOOK</a></li>
                <li><a href="https://www.instagram.com/" target="_blank">INSTAGRAM</a></li>
            </ul>
        </nav>
    </div>
    <div class="footer-text">
        <p>〒100-0005 東京都千代田区丸の内１丁目９－１</p>
        <p>TEL 050-2016-1600</p>
        <p>サンプルサイトの為、住所等は東京駅に設定してあります。</p>
    </div>
    <p class="copyright">
        © Ristorante
    </p>
</div>